.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  /* row-gap: 10px;
  column-gap: 10px; */
  background-color: cadetblue;
  padding: 10px;
}

.items {
  background-color: rgb(196, 235, 233);
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
