div {
  padding: 10px;
  border: 2px solid black;
}

@media (min-width: 801px) {
  div {
    background-color: aqua;
  }
  h1 {
    color: brown;
  }
}

@media (max-width: 800px) {
  div {
    background-color: cadetblue;
  }
  h1 {
    color: chocolate;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  div {
    background-color: bisque;
  }
  p {
    font-weight: bold;
  }
}
